.addbox{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.filters{
    display: flex;
    align-items: center;
}

.first-part{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.second-part{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.filters{
    margin-left: 50px;
}

.addButtonx{
    margin-right: 50px;
}

.first-button{
    margin-right: 50px;
}

.third-button{
    margin-left: 50px;
}


.logout{
    margin-right: 50px;
}